/*GENERAL*/
.game-container {
    margin: 10% auto;
    text-align: center;
}

canvas {
    border: 1px solid black;
    /*height: 600px;*/
    /*width: 600px;*/
    background: url('../img/waterfall_bg.png');
    background-size: cover;
    /*width: 40%;*/
    /*height: 600px;*/
}
