/*GENERAL*/

.canvas {
    border: 1px solid black;
    height: 500px;
    margin: 0 auto;
    width: 25%;
    overflow: hidden;
    position: relative;
    background: url("../img/waterfall_bg.png");
    background-size: cover;
}

/*TOUCHES A FRAPPER*/

/*@TODO faire le responsive des cases Calc()?*/

.cube {
    height: 30px;
    width: 30px;
    position: absolute;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

/*CIBLES*/

.redtarget {
    position: absolute;
    left: 30px;
    top: 372px;
    background-color: lightcoral;
    height: 40px;
    width: 40px;
}

.bluetarget {
    position: absolute;
    left: 100px;
    top: 372px;
    background-color: lightblue;
    height: 40px;
    width: 40px;
}